{% extends 'base.html'%}
{% block title %}
    Status Page <3
{% endblock %}
{% block content %}
    <h1>Its time to make acctions on you pet🐱‍🐉</h1>
    <form action="/action/eat" method="post">
        <button type="submit" name="eat" value="eat" class="button button1">eat action</button>
    </form>
    <form action="/action/sleep" method="post">
        <button type="submit" name="sleep" value="sleep" class="button button1">sleep action</button>
    </form>
    <form action="/action/play" method="post">
        <button type="submit" name="play" value="play" class="button button1">play action</button>
    </form>
    {% if output %}
        <h2>{{ output }}</h2>
    {% endif %}
{% endblock %}